body{ 
    background-color: #000000;
    color: #ffffff;
}

.container {
    max-width: 1200px;
    min-width: 100vh;
    margin: 0 auto;
}

.container .main-content {
    width: 100%;
    min-height: 100vh;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}